* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: inset 0px 0px 120px #1b1b1b;
    position: fixed;
}

.filmImage {
    width: 25%;
    height: 80vh;
    background-image: url(https://i.ibb.co/FYDKs4V/MV5-BZDBm-OTdi-MGMt-NGJi-My00-MTE3-LWIz-Mj-Mt-NGVk-Mjdl-N2-E0-Nz-Ew-Xk-Ey-Xk-Fqc-Gde-QXVy-Nz-Qy-Nzky.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px 0 0 10px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.infoAndFind {
    width: 35%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    background: #390F0F;
    box-shadow: inset 0px 0px 120px #090808;
    border-radius: 0 10px 10px 0;
    text-align: center;
}

.infoAndFinder h1 {
    font-style: normal;
    font-size: 35px;
    color: #D6D6D6;
    font-family: 'Roboto', sans-serif;
    margin: 30px 0 10px 0;
    text-transform: uppercase;
}

#button {
    width: 7.8vw;
    height: 40px;
    left: 1176px;
    top: 88px;
    background: #217C8F;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #CAB9B9;
}

#button:hover {
    background: #1B5E20;
    cursor: pointer;
}

#button:active {
    background: #1B5E20;
    transform: translateY(3px);
}

#boxText {
    width: 23vw;
    height: 40px;
    border-radius: 10px;
    background: #390F0F;
    border: 3px solid #217C8F;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    color: #D6D6D6;
    font-weight: bold;
    text-transform: uppercase;
}

#filmYear, #filmRuntime  {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    color: #217C8F;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

#filmGenre {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    color: #CAB9B9;
}

.synopsis p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #CAB9B9;
    margin: 30px 0 30px 0;
}

.filmDirection p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #CAB9B9;
    margin: 30px 0 30px 0;
    font-weight: bold;
}

.filmDirection p span{
    font-weight: normal;
}

.filmNoteOnImdb {
    background-color: #217C8F;
    height: 30%;
    clip-path: polygon(0 50%, 0 10%, 90% 100%, 50% 100%);
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.filmNoteOnImdb P {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    color: #D6D6D6;
    margin: 95px 100px 50px 30px;
    font-weight: bold;
    text-align: center;
    transform: rotate(48deg);
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filmNoteOnImdb i {
    color: #F6C516;
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
        }
}